<div class="list-group">
  <a href="/users-profile/profile-front/<%- user.id %>" class="list-group-item list-group-item-action <%= activePage === 'profile' ? 'active' : '' %>">
    My Profile
  </a>
  <a href="/users-address/address-front/<%- user.id %>" class="list-group-item list-group-item-action <%= activePage === 'addressBook' ? 'active' : '' %>">
    Address Book
  </a>
  <a href="/wallet" class="list-group-item list-group-item-action <%= activePage === 'wallet' ? 'active' : '' %>">
    Wallet
  </a>
  <a href="/coupons" class="list-group-item list-group-item-action <%= activePage === 'coupons' ? 'active' : '' %>">
    Coupons
  </a>
  <a href="/cart" class="list-group-item list-group-item-action <%= activePage === 'cart' ? 'active' : '' %>">
    Cart
  </a>
</div>
