<div class="list-group">
  <a href="/profile" class="list-group-item list-group-item-action <%= activePage === 'profile' ? 'active' : '' %>">
    My Profile
  </a>
  <a href="/address-book" class="list-group-item list-group-item-action <%= activePage === 'addressBook' ? 'active' : '' %>">
    Address Book
  </a>
  <a href="/address/add" class="list-group-item list-group-item-action <%= activePage === 'addAddress' ? 'active' : '' %>">
    Add New Address
  </a>
  <a href="/wallet" class="list-group-item list-group-item-action <%= activePage === 'wallet' ? 'active' : '' %>">
    Wallet
  </a>
  <a href="/coupons" class="list-group-item list-group-item-action <%= activePage === 'coupons' ? 'active' : '' %>">
    Coupons
  </a>
  <a href="/cart" class="list-group-item list-group-item-action <%= activePage === 'cart' ? 'active' : '' %>">
    Cart
  </a>
</div>
