<div class="list-group">
  <a href="/users-profile/profile-front/<%- currentUser._id %>" class="list-group-item list-group-item-action <%= activePage === 'profile' ? 'active' : '' %>">
    My Profile
  </a>
  <a href="/users-address/address-front/<%- currentUser._id %>" class="list-group-item list-group-item-action <%= activePage === 'addressBook' ? 'active' : '' %>">
    Address Book
  </a>
  <a href="/user-wallet/user-wallet-front" class="list-group-item list-group-item-action <%= activePage === 'wallet' ? 'active' : '' %>">
    Wallet
  </a>

  <a href="/users-wishlist/user-wishlist-front" class="list-group-item list-group-item-action <%= activePage === 'wishlist' ? 'active' : '' %>">
    Wishlist
  </a>
  <a href="/users-cart/user-cart-front" class="list-group-item list-group-item-action <%= activePage === 'cart' ? 'active' : '' %>">
    Cart
  </a>
    <a href="/user-oder/order-front" class="list-group-item list-group-item-action <%= activePage === 'order' ? 'active' : '' %>">
    Order
  </a>
  <a href="/user-wallet/user-referral" class="list-group-item list-group-item-action <%= activePage === 'referral' ? 'active' : '' %>">
    Referral
  </a>
</div>
